@import url(reset.css);

body {
	font-family: 'Raleway', sans-serif;
	color: gray;
	box-sizing: border-box;
}

a {
	color: #646263;
	text-decoration: none;
}

/* header section */

header {
	padding-top: 40px;
}

.row {
	margin: auto;
	width: 980px;
	height: auto;
	clear: both;
	display: table;
}

header .row {
	height: 71px;
}

.logo, nav {
	float: left;
}

.logo img {
	border-right: 1px lightgray solid;
}

nav li {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 20px;
}

nav li a {
	padding: 0 20px 35px;
}

nav li a:hover {
	border-bottom: 3px red solid;
	font-weight: bold;
}

.cart a {
	float:right;
	font-size: 1.2em;
	border: 2px gray solid;
	padding: 8px 17px;
	border-radius: 25px;
}


/* home image */

.home_image {
	height: 430px;
	overflow: hidden;
}

.home_image img {
	width: 100%;
}


/* main section */

main {
	margin-top: 28px;
}

.title {
	text-align: center;
	margin-bottom: 10px;
}

hr {
	width: 200px;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.title hr {
	display: inline-block;
	position: relative;
	top: 4px;
}

.title h2 {
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
}

.products {
	/*text-align: center;*/
	margin-bottom: 50px;
}

.product-box {
	text-align: center;
	display: inline-block;
	border: 4px #eee solid;
	margin-top: 20px;
	margin-right: 24px;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
}

.products .product-box:last-child {
	margin-right: 0px;
}

h3 {
	font-size: 1.1em;
}

.product-box p {
	font-size: 1.2em;
	font-weight: bold;
	padding: 14px;
	color: #555;
}

.brands {
	margin-bottom: 50px;
}

.brands img {
	float: left;
	border: 4px #eee solid;
	margin-right: 54.5px;
}

.brands img:last-child {
	margin-right: 0px;
}

.discount {
	position: absolute;
	top: 15px;
	left: -4px;
	background-color: #f44d55;
	border-left: 4px solid #fe0000;
	color: white;
	font-weight: bold;
	padding: 10px 20px;
}


/* Footer */

footer {
	background-color: #EBEBEB;
	height: 470px;
}

footer .row {
	padding-top: 50px;
	padding-bottom: 52px;
}

.f_column {
	float: left;
	width: 25%;
}

footer h3 {
	font-weight: bold;
	margin-bottom: 20px;
}

footer ul {
	margin-bottom: 14px;
}

footer li {
	padding: 6px 0;
}

.phone {
	font-weight: bold;
}

.middle-column {
	float: left;
	width: 50%;
}

footer h4 {
	font-size: 1.05em;
	font-weight: bold;
	padding: 6px 0;
}

footer h4 a, footer p, footer li {
	color: #646263;
}

footer p {
	margin-bottom: 14px;
}

footer .row a:hover {
	color: red;
}

.social li {
	display: inline-block;
	padding: 0px;
}

#facebook a {
	background-image: url("../images/sprite.jpg");
	background-repeat: no-repeat;
	display: block;
	width: 28px;
	height: 28px;
}

#twitter a {
	background-image: url("../images/sprite.jpg");
	background-repeat: no-repeat;
	display: block;
	width: 28px;
	height: 28px;
	background-position: -33px 0px
}

#googleplus a {
	background-image: url("../images/sprite.jpg");
	background-repeat: no-repeat;
	display: block;
	width: 44px;
	height: 28px;
	background-position: -65px 0px
}

#vimeo a {
	background-image: url("../images/sprite.jpg");
	background-repeat: no-repeat;
	display: block;
	width: 31px;
	height: 28px;
	background-position: -111px 0px
}

#rss a {
	background-image: url("../images/sprite.jpg");
	background-repeat: no-repeat;
	display: block;
	width: 28px;
	height: 28px;
	background-position: -144px 0px
}

#facebook a:hover {
	background-position: 0px -28px
}

#twitter a:hover {
	background-position: -33px -28px
}

#googleplus a:hover {
	background-position: -65px -28px
}

#vimeo a:hover {
	background-position: -111px -28px
}

#rss a:hover {
	background-position: -144px -28px
}

/* Copyright footer */

.copyright {
	margin: auto;
	width: 980px;
}

.copyright hr {
	margin: 0 auto;
	border: none;
	border-top: 1px solid black;
	width: 100%;
}

.copyright p {
	margin: 20px 0;
}